.App {
	max-width: 1250px;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.message-container {
	display: flex;
	align-items: center;
}

.message p {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	width: 220px;
	height: 50px;
	background-color: rgb(221, 212, 215);
}

.create-new-person {
	display: flex;
	flex-direction: column;
	margin: 20px 0 40px 0;
}

.submit-btn {
	background-color: #63b170;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: 600;
}

.sorting-button-container {
	width: 100%;
	text-align: right;
}

.sorting-button-container button {
	padding: 5px 10px;
	margin: 0 5px 10px 0;
}

form {
	display: flex;
	flex-direction: row;
}

form > * {
	margin-left: 10px;
}

.banking-list {
	text-align: center;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid black;
}

thead th {
	width: 15%;
}

th,
td {
	padding: 10px;
}

#add-money,
#deduct-money,
#delete-btn,
#sort-button {
	color: white;
	font-weight: 600;
}

#add-money {
	background-color: #535c60;
}

#deduct-money {
	background-color: #117aff;
}

#delete-btn {
	background-color: rgb(215, 71, 71);
}

#sort-button {
	background-color: rgb(164, 165, 166);
}